body {
    transition: background-color 0.3s;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.lid-open {
    background-color: #d1e7dd !important; /* Greenish */
    border: 2px solid #198754 !important;
}

.lid-closed {
    background-color: #ffffff !important;
    border: 1px solid rgba(0,0,0,.125) !important;
}
